.blurer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: transparent;
    backdrop-filter: blur(10px);
}

.message{
    position: relative;
    font-family: 'Helvetica';
    font-style: normal;
    width: 700px;
    height: 500px;
    background: #874fb6;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    overflow: hidden;
    box-shadow: #742dad 2px 2px 2px, #742dad -2px -2px 2px;
}

.body-message{
    position: relative;
    width: 100%;
    height: 380px;
    background: #742dad;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.bottom-large-lighter{
    position: absolute;
    width: 70%;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: -190px;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}

.bottom-lighter-container{
    position: relative;
    width: 100%;
    top: 2px;
}

.bottom-medium-lighet{
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40%, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}

.button{
    width: 220px;
    height: 70px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
}

.button-container{
    margin-left: auto;
    margin-right: auto;
}

.close-button-container{
    position: absolute;
    right: 20px;
    align-self: center;
}

.close-button{
    font-family: "Verdana";
    width: 50px;
    height: 50px;
    position: relative;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 44px;
    padding: 0px;
    color: blanchedalmond;
}

.close-button:hover{
    text-shadow: #fff 1px 0 10px;
}

.confirmer{
    display: flex;
    justify-content: space-evenly;
}

.danger-button{
    background: linear-gradient(180deg, rgba(221,65,65,1) 0%, rgba(221,65,65,1) 49%, rgba(214,59,59,1) 50%, rgba(214,59,59,1) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 0px rgba(221,65,65, 0.747), 0px 4px 8px rgba(0, 0, 0, 0.14), 
        0px 8px 10px rgba(0, 0, 0, 0.12), 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.double-lighter-container{
    position: absolute;
    width: 100%;
}

.short-lighter{
    position: absolute;
    width: 50%;
    height: 10px;
    top: -5px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    transform: rotate(-180deg);
}

.medium-lighter{
    position: absolute;
    width: 80%;
    height: 2px;
    top: -2px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40%, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
}

.header{
    position: relative;
    z-index: 6;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.header-message{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
    font-size: 36px;
    line-height: 72px;
    color: whitesmoke;
    text-shadow: 0px -2px 1px #0005;
}

.lighter-body{
    position: absolute;
    width: 100%;
    top: 0;
}

.light-on-button{
    position: absolute;
    height: 70px;
    width: 220px;
    overflow: hidden;
}

.light-on-button:hover{
    overflow: visible;
}

.upper-light-on-button{
    position: absolute;
    width: 220px;
    height: 35px;
    top: -10px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.7;
    transform: rotate(-180deg);
}

.lower-light-on-button{
    position: absolute;
    width: 220px;
    height: 70px;
    top: 25px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.7;
    transform: rotate(-180deg);
}

.upper-lighter-body{
    position: absolute;
    width: 140%;
    height: 150px;
    left: -20%;
    top: -75px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    transform: rotate(-180deg);
}

.left-lighter-body{
    position: absolute;
    width: 300px;
    height: 600px;
    left: -200px;
    top: -130px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.right-lighter-body{
    position: absolute;
    width: 300px;
    height: 600px;
    right: -200px;
    top: -130px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.message-lighter{
    position: absolute;
    width: 80%;
    height: 2px;
    top: -2px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40%, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.message-text{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 
                0px 2px 4px rgba(0, 0, 0, 0.2);
}

.restart-button{
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
        linear-gradient(180deg, rgba(38,93,199,1) 0%, rgba(38,93,199,1) 49%, rgba(38,82,199,1) 50%, rgba(38,82,199,1) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 0px rgba(53, 93, 204, 0.747), 0px 4px 8px rgba(0, 0, 0, 0.14), 
        0px 8px 10px rgba(0, 0, 0, 0.12), 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.success-button{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
        linear-gradient(180deg, rgba(38,93,199,1) 0%, rgba(38,93,199,1) 49%, rgba(38,82,199,1) 50%, rgba(38,82,199,1) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 0px rgba(53, 93, 204, 0.747), 0px 4px 8px rgba(0, 0, 0, 0.14), 
        0px 8px 10px rgba(0, 0, 0, 0.12), 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.image-container{

}

.smile{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    background-image: url(images/laugh.svg);
}

.bored{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    background-image: url(images/bored.svg);
}