%lights-on-button{
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 0px;
    opacity: 0.7;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
}

:host{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: transparent;
    backdrop-filter: blur(10px);
    display: block;
}

.wraper{
    position: relative;
    width: 700px;
    height: 500px;
    background: #874fb6;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    overflow: hidden;
    box-shadow: #742dad 2px 2px 2px, #742dad -2px -2px 2px;
}

.body-wraper{
    position: relative;
    width: 100%;
    height: 380px;
    background: #5a2dad;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.bottom-large-lighter{
    position: absolute;
    width: 70%;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: -190px;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}

.bottom-lighter-container{
    position: relative;
    width: 100%;
    top: 2px;
}

.bottom-medium-lighet{
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40%, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}

.button{
    position: relative;
    width: 270px;
    height: 70px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    overflow: hidden;

    &:hover{
        overflow: visible;

        &::before{
            opacity: 0.8;
        }

        &::after{
            opacity: 0.8;
        }
    }

    &::before{
        @extend %lights-on-button;
        height: 40px;
        width: 270px;
        top: -15px;
    }

    &::after{
        @extend %lights-on-button;
        height: 70px;
        width: 270px;
        top: 15px;
    }
}

.button-container{
    margin-left: auto;
    margin-right: auto;
}

.close-button{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 5px;
    align-self: center;
    background: transparent;
    border: none;

    &:hover::before{
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background: radial-gradient(#fff6 0%, #fff0 60%)
    }

    img{
        width: 70px;
        height: 70px;
    }
}

.confirmer{
    display: flex;
    justify-content: space-evenly;
}

.danger-button{
    background: linear-gradient(180deg, rgba(221,65,65) 0%, rgba(221,65,65) 49%, rgba(214,59,59) 50%, rgba(214,59,59) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 0px rgba(221,65,65, 0.7),
        0px 4px 8px rgba(0, 0, 0, 0.1), 
        0px 8px 10px rgba(0, 0, 0, 0.1),
        0px 2px 20px rgba(0, 0, 0, 0.2);
}

.double-lighter-container{
    position: absolute;
    width: 100%;
}

.medium-lighter{
    position: absolute;
    width: 80%;
    height: 2px;
    top: -2px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40%, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
}

.header{
    position: relative;
    z-index: 6;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

    &::after{
        content: "";
        position: absolute;
        width: 50%;
        height: 10px;
        top: 73px;
        left: 0px;
        right: 0px;
        margin: auto;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        mix-blend-mode: overlay;
        opacity: 0.5;
        transform: rotate(-180deg);
    }
}

.header-text{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
    font-size: 36px;
    line-height: 72px;
    color: #ffe3fb;
    text-shadow: 0px -2px 1px #0005;
}

.lighter-body{
    position: absolute;
    width: 100%;
    top: 0;
}

.upper-lighter-body{
    position: absolute;
    width: 140%;
    height: 150px;
    left: -20%;
    top: -75px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    transform: rotate(-180deg);
}

.left-lighter-body{
    position: absolute;
    width: 300px;
    height: 800px;
    left: -200px;
    top: -230px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.right-lighter-body{
    position: absolute;
    width: 300px;
    height: 800px;
    right: -200px;
    top: -230px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.message-lighter{
    position: absolute;
    width: 80%;
    height: 2px;
    top: -2px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40%, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.wraper-text{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
}

.restart-button{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
        linear-gradient(180deg, rgba(38,93,199,1) 0%, rgba(38,93,199,1) 49%, rgba(38,82,199,1) 50%, rgba(38,82,199,1) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 0px rgba(53, 93, 204, 0.7),
        0px 4px 8px rgba(0, 0, 0, 0.1), 
        0px 8px 10px rgba(0, 0, 0, 0.1),
        0px 2px 20px rgba(0, 0, 0, 0.2);
}

.success-button{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
        linear-gradient(180deg, rgba(38,93,199,1) 0%, rgba(38,93,199,1) 49%, rgba(38,82,199,1) 50%, rgba(38,82,199,1) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 0px rgba(53, 93, 204, 0.7),
        0px 4px 8px rgba(0, 0, 0, 0.1), 
        0px 8px 10px rgba(0, 0, 0, 0.1),
        0px 2px 20px rgba(0, 0, 0, 0.2);
}

.information{
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image-container{
    position: relative;
    width: 230px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.result-img{
    position: absolute;
    top: -30px;
    width: 200px;
    height: 200px;
    background-size: 100%;
    border: none;
}