<div class="wraper" *ngIf="finishEvent">
    <div class="wraper-header">
        <p class="header-text text">{{finishEvent}}</p>
        <button class="button-close" (click) = "return()">
            <img src="assets/images/cross-no-shape.svg" alt="X"/>
        </button>
    </div>
    <div class="wraper-body">
        <div class="wraper-body-backlight">
        </div>
        <div class="information">
            <div class="image-container" *ngIf="finishEvent === allFinishEvents.Lose || finishEvent === allFinishEvents.Win">
                <img src="assets/images/laugh.svg" *ngIf="finishEvent === allFinishEvents.Win" alt=":)"/>
                <img src="assets/images/bored.svg" *ngIf="finishEvent === allFinishEvents.Lose" alt=":("/>
            </div>
            <p class="information-text text" *ngIf="finishEvent === allFinishEvents.Win">You are WINNER!</p>
            <p class="information-text text" *ngIf="finishEvent === allFinishEvents.Lose">You lose!</p>
            <p class="information-text text" *ngIf="finishEvent === allFinishEvents.Restart">Are you sure?</p>
        </div>
        <div class="button-container">
            <button class="button text button-restart" *ngIf="finishEvent === allFinishEvents.Lose" (click) = "restart()">
                TRY AGAIN
            </button>
            <button class="button text button-restart" *ngIf="finishEvent === allFinishEvents.Win" (click) = "restart()">
                RESTART
            </button>
            <button class="button text button-restart" *ngIf="finishEvent === allFinishEvents.Restart" (click) = "restart()">
                YES
            </button>
            <button class="button text button-danger" *ngIf="finishEvent === allFinishEvents.Restart" (click) = "return()">
                NO
            </button>
        </div>
    </div>
    <div class="wraper-backlight">
    </div>
</div>
