<div class="app-board">
    <div class="app-instrument">
      <p class="cell-sizer">
        {{game.cellNumber}}x{{game.cellNumber}}
      </p>
      <div class="instrument-container">
        <div class="instrument-cell-sizer">
          <button class="cell-sizer-button" (click)="incrementSize()"><span>&#9650;</span></button>
          <button class="cell-sizer-button" (click)="decrementSize()"><span>&#9660;</span></button>
        </div>
        <div class="instrument-button-container">
          <button class="button text button-back" type="button" (click)="makeStepBack()">STEP BACK</button>
          <button class="button text button-reset" type="button" (click)="reset()">RESTART</button>
        </div>
      </div>
    </div>
    <div class="game-board">
        <div class="game-line" *ngFor="let line of game.cells">
          <div class="game-cell" *ngFor="let cell of line" (click)="makeMove(cell)" 
          [ngClass]="{'game-cell-can-move': cell.isCanMove}">
            <div class="game-item" [ngClass]="{'game-item-current': cell.isCurrent, 
            'game-item-checked': cell.isChecked, 'game-item-can-move': cell.isCanMove}">
              <p class="text move-number" *ngIf="cell.moveNumber">
                {{cell.moveNumber}}
              </p>
            </div>
          </div>
        </div>
    </div>
</div>